@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}


<div class="container">
    <h1 style="display: block;">Pending Orders</h1>
    <div class="row" style="display: block;">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered" style="display: table;">
                <thead style="display: table-header-group;">
                    <tr>
                        <th class="bg-info">Order No.</th>
                        <th class="bg-info">Customer Id</th>
                        <th class="bg-info">Job Type</th>
                        <th class="bg-info">Media</th>
                        <th style="display: table-cell;" class="bg-info">Catalogue</th>
                        <th class="bg-info">Content</th>
                        <th style="display: table-cell;" class="bg-info">Validate</th>
                        <th class="bg-info">Cancel</th>
                    </tr>
                </thead>
                <tbody style="display: table-row-group;">
                    @foreach (var v in Model)
                    {
                        <tr>
                            <td>@v.Id</td>
                            <td>@v.UserId</td>
                            <td>@v.JobType</td>
                            <td>@v.Media</td>
                            <td>@v.CatalogNumber</td>
                            <td>@v.Content</td>
                            <td data-pg-collapsed>
                                <button type="button" class="btn btn-primary" onclick="validateOrder(@v.Id);">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                            </td>
                            <td data-pg-collapsed>
                                <button type="button" class="btn btn-danger" onclick="discardOrder(@v.Id);">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>